@import "../../assets/css/base";

#StoryCard {
	.card {
		background: $white;
		position: relative;
		border-radius: $card-radius;

		.loading-text {
			display: inline-block;
			background-color: #444;
			height: 12px;
			border-radius: 100px;
			margin: 5px 0;
			min-width: 100px;
			opacity: .1;
			animation: fading 1.5s infinite;
			width: 100%;
		}

		.loading-avatar {
			display: inline-block;
			background-color: #444;
			width: 40px;
			height: 40px;
			opacity: .1;
			border-radius: 100%;
			animation: fading 1.5s infinite;
		}

		.loading-image {
			display: inline-block;
			background-color: #444;
			width: 100%;
			height: 350px;
			opacity: .1;
			animation: fading 1.5s infinite;
		}

		.card-image {
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.card-body {
			padding: 1.25rem;

			.card-story-content {
				margin-left: 8px;
			}

			.card-story-title {
				margin-bottom: 30px;

				h3 {
					margin-bottom: 0;
				}

				a {
					font-size: 14px;
					word-wrap: break-word;
					color: #808080;
				}
			}

			.card-story-top {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.story-top-container {
					display: flex;
					align-items: center;
					line-height: 1.25;
					font-size: 0.875rem;

					.story-author-name {
						font-size: 16px;
						font-weight: bold;
					}

					.story-author-pic {
						margin-right: 0.5rem;

						img {
							width: 40px;
							height: 40px;
						}
					}
				}
			}

			.card-story-bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 0.875rem;
				line-height: 1.25;

				.details {
					display: flex;
					gap: 1em;

					.fa-star {
						color: #ffcd3c;
					}
				}
			}
		}
	}

	@keyframes fading {
		0% {
			opacity: .1;
		}

		50% {
			opacity: .2;
		}

		100% {
			opacity: .1;
		}
	}

	@include respond-to('sm') {}
}